.tag,
.selector {
    background-color: lightgray;
    font-family: monospace;
}

.tag:before {
    content: "<";
}

.tag:after {
    content: ">";
}

#figure-1 img,
#figure-2 img {
    width: 500px;
}

#figure-3 img,
#figure-4 img {
    width: 350px;
}

#figure-2 img {
    width: 500px;
}

.global {
    color: lightcoral;
}

.attribute,
.property {
    background-color: lightgoldenrodyellow;
    font-family: monospace;
}

.attribute-desc:before {
    content: "–";
}