.tag {
    background-color: lightgray;
    font-family: monospace;
}

.tag:before {
    content: "<";
}

.tag:after {
    content: ">";
}

#figure-1 img {
    width: 500px;
}

#figure-2 img {
    width: 500px;
}

.global {
    color: lightcoral;
}

.attribute {
    background-color: lightgoldenrodyellow;
    font-family: monospace;
}

.attribute-desc:before {
    content: "–";
}

