/* Button */
.div Button {
  border: 1px solid #b0e8d5;
  color: white;
}
.div button:hover {
  background: linear-gradient(to right, #b0e8d5, #b9b0e8);
}
.div button:hover * {
  color: #191613;
}

.div Button:active {
  opacity: 0.9;
}
