.button {
  background-color: #B9B0E8;
  border: none;
  display: block;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}
.button:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #B9B0E8, #B0E8D5);
}
.button:active {
  background-image: linear-gradient(to right, #B9B0E8, #B0E8D5);
  opacity: 0.9;
}

.h3 {
  text-align: center;
  font-weight: 300;
  color: #191613;
}