.post {
  flex-direction: column;
  gap: 1.6rem;
  background-color: var(--secondary-color-10);
  padding: 3.2rem;
  border-radius: 2rem;
  margin: 4.8rem 0;
}

.postComments {
  grid-template-columns: 2fr 1fr;
  justify-items: space-between;
  gap: 4.8rem;
}

.postSubreddit {
  flex-direction: column;
  gap: 1.6rem;
}

.postContent {
  width: 100%;
  gap: 6.4rem;
  border: solid red 1px;
}

.postTitle {
  flex-direction: column;
  width: 100%;
  gap: 1.6rem;
}

.error {
  padding: 1.6rem 0;
  border-top: solid var(--secondary-color) 1px;
  border-bottom: solid var(--secondary-color) 1px;
}
