* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  margin: 0 20rem;
  background-color: #1E1E1E;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #191613;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
}
h1 {
  font-size: 6.7rem;
  line-height: 9rem;
}
h2 {
  font-size: 5.1rem;
  line-height: 6rem;
}
h3 {
  font-size: 3.8rem;
  line-height: 6rem;
}
h4 {
  font-size: 2.8rem;
  line-height: 3rem;
}
h5 {
  font-size: 2.1rem;
  line-height: 3rem;
}
h6 {
  font-size: 1.6rem;
  line-height: 3rem;
}
p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.1rem;
  line-height: 3rem;
}
