/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.main-content {
  position: relative;
  top: 5.3125rem; /* To offset for fixed header. */
}

.center {
  text-align: center;
}

.button {
  border-radius: 4px;
  background-color: #4a4a4a;
  color: white;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
}

@media only screen and (max-width: 768px) {
  .main-content {
    top: 2.5625rem;
  }
}

body {
  margin: 0;
  position: absolute;
}

/* Header */

header {
  position: fixed;
  width: 100%;
  height: 5.3125rem;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
  z-index: 100;
}

header .content {
  display: flex;
  align-items: center;
  height: 100%;
}

header .logo {
  flex: 1;
  color: #4a4a4a;
  font-size: 1.5rem;
  font-family: "Roboto Mono";
  text-decoration: none;
  margin-left: 1.875rem;
}

header nav ul {
  display: flex;
  list-style: none;
  margin-right: 1.875rem;
}

nav li {
  padding-left: 3.5rem;
  color: #4a4a4a;
  font-size: 1rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
  text-decoration: none;
}

header .icon {
  width: 1rem;
  padding-left: 0.75rem;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 450px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: flex;
    width: 100%;
  }

  header .content {
    padding: 0.5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

  header .mobile .button {
    padding: 0.1875rem 0.5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
  }
}

/* Sign Up Section */
#sign-up-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 10.625rem 0;
  background-image: url("../images/banner-landingpage.jpg");
  background-size: cover;
}

#sign-up-cta {
  padding: 0 5rem 0 5rem;
  border: solid 1px #979797;
  border-radius: 4px;
  background-color: #9dc20b;
  margin-left: 6.25rem;
}

#sign-up-cta .content {
  width: 25.625rem;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: white;
}

#sign-up-cta h1 {
  font-size: 3.125rem; 
  margin-top: 0;
  margin-bottom: 0.75rem;
}

#sign-up-cta h2 {
  font-size: 2.25rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

#sign-up-cta span strong {
  font-weight: bold;
}

#sign-up-cta .cursive {
  font-family: "Damion", cursive;
}

#sign-up-cta .striking {
  font-family: "Rubik", sans-serif;
}

#sign-up-cta .button {
  margin-top: 1.625rem;
  margin-bottom: 3.5rem;
  padding: 1.25rem 7.25rem;
}

@media only screen and (max-width: 768px) {
  #sign-up-section {
    align-items: center;
    justify-content: center;
    height: 28rem;
    padding: 0;
  }

  #sign-up-cta {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
  }

  #sign-up-cta .content {
    margin-top: 0;
  }

  #sign-up-cta .email {
    display: none;
  }

  #sign-up-cta h1 {
    font-size: 3.125rem;
  }

  #sign-up-cta h2 {
    font-size: 2.25rem;
  }
}

@media only screen and (max-width: 450px) {
  #sign-up-section {
    height: 20rem;
  }

  #sign-up-cta h1 {
    font-size: 2.25rem;
  }

  #sign-up-cta h2 {
    font-size: 2rem;
  }
}

/* Features Section */

#features-section {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5% 2.875rem 5%;
  background-color: #f3f3f3;
  gap: 2.375rem;
  justify-content: center;
}

.feature {
  flex: 1;
  margin: 0px 1.25rem;
  background-color: white;
  /* height: 39.6875rem; */
  max-width: 650px;
}

.feature .image-container {
  padding-top: 2.5rem;
  width: 90%;
  height: 65%;
  margin: 0 auto;
}

.feature img {
  width: 100%;
}

.feature h2 {
  padding-bottom: 0.5rem;
  font-size: 2.25rem;
  font-weight: bold;
  color: #4a4a4a;
  margin-top: 2.5rem;
}

.feature h3 {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: #4a4a4a;
}

@media only screen and (max-width: 890px) {
  .feature h2 {
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  .feature h3 {
    font-size: 0.875rem;
    line-height: 1.4;
  }
}

@media only screen and (max-width: 450px) {
  #features-section {
    flex-flow: column;
    padding: 0;
  }

  .feature {
    margin: 0;
    padding: 1.25rem 1rem 0 1rem;
  }
}

/* Filters Section */

#filters-section {
  padding: 4rem 0;
  background-color: #4a4a4a;
}

#filters-section .content {
  padding: 0 0.625rem;
  margin-bottom: 4rem;
}

#filters-section .content h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: white;
  margin: 0 auto;
}

#filters-section .content h3 {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: white;
  margin: 0 auto;
  width: 65%
}

#filters-section .images-container {
  max-width: 100%;
  padding: 0 1%;
  margin-top: 0;
  display: flex;
}

#filters-section img {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  #filters-section {
    padding: 1.5rem 0 0 0;
  }

  #filters-section .content {
    margin-bottom: 1rem;
  }

  #filters-section .content h2 {
    padding-bottom: 0.625rem;
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  #filters-section .content h3 {
    font-size: 0.875rem;
    line-height: 1.4;
  }

  #filters-section .images-container {
    padding: 0;
  }

  #filters-section .extra {
    display: none;
  }
}

/* Quotes Section */

#quotes-section {
  background-color: #f3f3f3;
  padding: 5rem 0;
}


#quotes-section .quote {
  padding-right: 1.875rem;
  font-family: "Palatino", serif;
  font-size: 1.875rem;
  line-height: 1.1;
  font-style: italic;
  color: #4a4a4a;
}

#quotes-section quote-citation {
  height: 1.875rem;
}

@media only screen and (max-width: 768px) {
  #quotes-section .content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 1.875rem 0.625rem;
    margin: 0;
    padding: 0;
  }

  #quotes-section .quote {
    font-size: 1.5rem;
    line-height: 1.4;
    text-align: left;
    padding-left: 5%;
  }

  #quotes-section quote-citation {
    display: block;
    padding-top: 1rem;
    margin: auto;
  }
}

@media only screen and (max-width: 450px) {
  #quotes-section .content {
    grid-template-rows: 2fr 1fr;
    padding: 0 2rem;
    justify-items: center;
    row-gap: 2rem;
  }

  #quotes-section .quote {
    grid-row: 1 / 3;
    grid-column: 1 / 5;
    text-align: center;
  }

  #quotes-section .quote-citation {
    grid-row: 3 / 4;
    grid-column: 1 / 5;
  }
}

/* Footer */

footer {
  background-color: #9b9b9b;
  padding: 1.5rem 2rem;
}

footer .content {
  color: white;
  display: flex;
  font-size: 0.75rem;
}

footer .copyright {
  flex-grow: 1;
}

@media only screen and (min-width: 768px) {
  footer .content {
    font-size: 0.625rem;
  }
}
