.container {
  flex-direction: column;
  align-items: stretch;
  padding: 0 4.8rem;
  gap: 2.4rem;
}
.container h2 {
  color: white;
  text-align: center;
}

.group {
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 1.6rem 3.2rem;
  border: solid 2px #312D2B;
  border-radius: 1.5rem;
  gap: 3.2rem;
}

.group div {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 27rem;
  row-gap: 3.2rem;
  column-gap: 2.4rem;
}

.group h3 {
  align-self: center;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  font-size: 3.2rem;
}

.groups {
  gap: 4.8rem;
}