.container {
  flex-direction: column;
  align-items: stretch;
  padding: 0 4.8rem;
  gap: 2.4rem;
}
.container h2 {
  color: white;
  text-align: center;
}

.group {
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 1.6rem 3.2rem;
  border: solid 2px #312d2b;
  border-radius: 1.5rem;
  gap: 3.2rem;
  min-height: 20rem;
  overflow: auto;
}

.groupEdit {
  align-content: center;
  justify-content: space-between;
}

.deckGrid {
  height: 27rem;
  row-gap: 3.2rem;
  column-gap: 2.4rem;
}

.group h3 {
  align-self: center;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  font-size: 3.2rem;
}

.groups {
  gap: 4.8rem;
}

.viewAllButton {
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  gap: 1.6rem;
  padding: 2.4rem 0;
  border: 2px solid #312d2b;
  border-radius: 10px;
}
.viewAllButton:hover {
  cursor: pointer;
  background-color: #312d2b;
}
.viewAllButton:active {
  background-color: #342f2d;
}

.viewAllButton svg {
  height: 3.2rem;
  width: 3.2rem;
  color: white;
}

.viewAllButton p {
  text-decoration: none;
  font-size: 2.8rem;
  color: white;
}
