.comments {
  overflow-y: hidden;
  overflow-x: hidden;
  /* border: solid blue 1px; */
}

.indent {
  margin-left: 1.6rem;
  padding-left: 0.8rem;
  border-left: solid var(--black-25) 1px;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.profile {
  align-items: center;
  gap: 0.8rem;
}
