* {
    background-color: hsl(60, 95%, 95%);
    font-family: Helvetica, sans-serif;
}

main {
    margin: 0 17%;
}


h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: hsl(0, 0%, 15%);
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    color: hsl(0, 0%, 20%);
}

h3 {
    font-size: 30px;
    font-weight: bold;
}

p {
    font-size: 15px;
    color: hsl(0, 0%, 25%);
}

.description {
    margin-bottom: 5px;
}
.usage {
    margin-top: 5px;
}

#color-wheel {
    position: absolute;
    width: 240px;
}

#color-schemes {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 20px;
    column-gap: 50px;
    row-gap: 35px;
}

#color-schemes h2 {
    grid-column: span 12;
}
#complementary {
    grid-column: span 4;
}
#monochromatic, #analogous, #triadic, #split-complementary  {
    grid-column: span 6;
    width: 415px;
}
#square {
    grid-column: span 8;
}
#tetradic-rectangle {
    grid-column: 3 / 11;
}

/* #color-schemes article {
    border: red dotted 1px;
} */

.pallette {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: black solid 1px;
    grid-template-rows: 250px;
    align-content: center;
    justify-content: center;
    grid-gap: 0 7px;
    padding: 7px;
    margin-bottom: 20px;
}



#complementary .pallette {
    grid-template-columns: 1fr 1fr;
    max-width: 265px;
}

#square .pallette, #tetradic-rectangle .pallette {
    max-width: 540px;
    width: 540;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pallette p {
    display: grid;
    align-content: center;
    text-align: center;
    margin: 0;
    font-size: 12px;
    padding: 5px;
    color: black;
    /* color: white; */
}

#monochromatic-1 p:nth-child(1) {
    background-color: hsl(0, 90%, 65%);
}
#monochromatic-1 p:nth-child(2) {
    background-color: hsl(0, 60%, 65%);
}
#monochromatic-1 p:nth-child(3) {
    background-color: hsl(0, 30%, 65%);
}
#monochromatic-2 p:nth-child(1) {
    background-color: hsl(120, 90%, 40%);
}
#monochromatic-2 p:nth-child(2) {
    background-color: hsl(120, 60%, 40%);
}
#monochromatic-2 p:nth-child(3) {
    background-color: hsl(120, 30%, 40%);
} 

#analogous-1 p:nth-child(1) {
    background-color: hsl(30, 70%, 60%);
}
#analogous-1 p:nth-child(2) {
    background-color: hsl(60, 70%, 60%);
}
#analogous-1 p:nth-child(3) {
    background-color: hsl(90, 70%, 60%);
}
#analogous-2 p:nth-child(1) {
    background-color: hsl(180, 30%, 70%);
}
#analogous-2 p:nth-child(2) {
    background-color: hsl(210, 30%, 70%);
}
#analogous-2 p:nth-child(3) {
    background-color: hsl(240, 30%, 70%);
} 

#complementary-1 p:nth-child(1) {
    background-color: hsl(120, 50%, 40%);
}
#complementary-1 p:nth-child(2) {
    background-color: hsl(300, 50%, 40%);
}
#complementary-2 p:nth-child(1) {
    background-color: hsl(30, 70%, 50%);
}
#complementary-2 p:nth-child(2) {
    background-color: hsl(210, 70%, 50%);
}

#square-1 p:nth-child(1) {
    background-color: hsl(30, 75%, 50%);
}
#square-1 p:nth-child(2) {
    background-color: hsl(120, 75%, 50%);
}
#square-1 p:nth-child(3) {
    background-color: hsl(210, 75%, 50%);
}
#square-1 p:nth-child(4) {
    background-color: hsl(300, 75%, 50%);
}
#square-2 p:nth-child(1) {
    background-color: hsl(60, 90%, 80%);
}
#square-2 p:nth-child(2) {
    background-color: hsl(150, 90%, 80%);
}
#square-2 p:nth-child(3) {
    background-color: hsl(240, 90%, 80%);
} 
#square-2 p:nth-child(4) {
    background-color: hsl(330, 90%, 80%);
}

#triadic-1 p:nth-child(1) {
    background-color: hsl(150, 40%, 80%);
}
#triadic-1 p:nth-child(2) {
    background-color: hsl(270, 40%, 80%);
}
#triadic-1 p:nth-child(3) {
    background-color: hsl(30, 40%, 80%);
}
#triadic-2 p:nth-child(1) {
    background-color: hsl(90, 20%, 35%);
}
#triadic-2 p:nth-child(2) {
    background-color: hsl(210, 20%, 35%);
}
#triadic-2 p:nth-child(3) {
    background-color: hsl(330, 20%, 35%);
} 

#split-complementary-1 p:nth-child(1) {
    background-color: hsl(210, 80%, 80%);
}
#split-complementary-1 p:nth-child(2) {
    background-color: hsl(0, 80%, 80%);
}
#split-complementary-1 p:nth-child(3) {
    background-color: hsl(60, 80%, 80%);
}
#split-complementary-2 p:nth-child(1) {
    background-color: hsl(30, 80%, 30%);
}
#split-complementary-2 p:nth-child(2) {
    background-color: hsl(180, 80%, 30%);
}
#split-complementary-2 p:nth-child(3) {
    background-color: hsl(240, 80%, 30%);
} 

#tetradic-rectangle-1 p:nth-child(1) {
    background-color: hsl(270, 90%, 50%);
}
#tetradic-rectangle-1 p:nth-child(2) {
    background-color: hsl(330, 90%, 50%);
}
#tetradic-rectangle-1 p:nth-child(3) {
    background-color: hsl(90, 90%, 50%);
}
#tetradic-rectangle-1 p:nth-child(4) {
    background-color: hsl(150, 90%, 50%);
}
#tetradic-rectangle-2 p:nth-child(1) {
    background-color: hsl(180, 90%, 90%);
}
#tetradic-rectangle-2 p:nth-child(2) {
    background-color: hsl(120, 90%, 90%);
}
#tetradic-rectangle-2 p:nth-child(3) {
    background-color: hsl(360, 90%, 90%);
} 
#tetradic-rectangle-2 p:nth-child(4) {
    background-color: hsl(300, 90%, 90%);
}